In [2]:
#Librerias 
import pandas as pd 
import numpy as np

## Data inicial

In [3]:
#Cargar datos
dfi = pd.read_csv("D:/DIFODS/py002_desercion/data/datainicial.csv",sep=";")
df_act= pd.read_csv("D:/DIFODS/py002_desercion/data/carga_actividad.csv",sep=";")
dfi.head()

,CAMPUS,CURID,CURSO,DNI_CARACTERIZADO,NOMBRES,APELLIDOS,USUARIO,NOTA_Cierre_Cuestionariosalida,FECHA_Cierre_Cuestionariosalida,PORCNOTA_Cierre_CuestionarioSalida,...,DIFF_MAXMIN,act_realizada,Porc_act_realizada,DIAS_ACCESO,DIAS_ACTIVIDAD,%_E1,%_E2,%_E3,%_E4,cursos_matriculados
0,1,298,(LEPAEG1-2022),46722,BERTHA,PACAYA IPUSHIMA,47232,-1.0,NaN,NaN,...,6.0,19,39,38.0,69.0,0.0,0.0,1.0,0.0,1
1,1,280,EPDCDAF-2022,73111,PEREIRA LAO,MARIO RICARDO,23843,-1.0,NaN,NaN,...,NaN,0,0,107.0,NaN,0.0,0.0,0.0,1.0,1
2,1,289,DIA-2022,85438,DIAZ APAC,YENI LILIAM,9498,-1.0,NaN,NaN,...,5.0,32,100,44.0,69.0,1.0,0.0,0.0,0.0,1
3,1,280,EPDCDAF-2022,19470,EDMUNDO,PAREDES ESCOBEDO,95498,-1.0,NaN,NaN,...,NaN,0,0,602.0,NaN,0.0,0.0,0.0,1.0,1
4,1,298,(LEPAEG1-2022),52192,LANDA CHOTA,ROSA VICTORIA,174856,18.0,2022-05-26 02:17:28.000,90.0,...,24.0,48,100,72.0,72.0,1.0,0.0,0.0,0.0,1

In [5]:
print('Número de registros: '  + str(dfi.shape[0]))

Número de registros: 12428

In [6]:
#Existen valores duplicados como: USUARIO =604968
dfi=dfi.drop_duplicates() # Eliminar registros duplicados
dfi=dfi[dfi["DNI_CARACTERIZADO"]!=10000000 ] # Eliminar los registros que tienen como DNI_CARACTERIZADO =10000000
print('Número de registros: '  + str(dfi.shape[0]))

Número de registros: 12369

In [7]:
#Se eliminan los registros que tienen como ninguna actividad en la variable cumplimiento
dfi_1=dfi[dfi['CUMPLIMIENTO']!='NINGUNA ACTIVIDAD']
dfi_1.CUMPLIMIENTO.value_counts()

CULMINARON                3924
AL MENOS UNA ACTIVIDAD    2640
Name: CUMPLIMIENTO, dtype: int64

In [8]:
#Comprobar si hay duplicados en los dos grupos de cumplñimiento y al menos una actividad
df_culminaron = dfi_1[dfi_1["CUMPLIMIENTO"]=='CULMINARON']
df_almenos = dfi_1[dfi_1["CUMPLIMIENTO"]=='AL MENOS UNA ACTIVIDAD']
df_culminaron = df_culminaron.iloc[:,[1,3]]
df_almenos = df_almenos.iloc[:,[1,3]]
df_culminaron["DD"] = 1
df_almenos["DO"]= 2
resul=pd.merge(df_culminaron,df_almenos,on=["CURID","DNI_CARACTERIZADO"],how="left")
resul[resul["DO"]>=1]

Empty DataFrame
Columns: [CURID, DNI_CARACTERIZADO, DD, DO]
Index: []

In [9]:
variables = ['CUMPLIMIENTO',
                'CONDICION',
                'DESCRIPCION_SUBTIPO_TRABAJADOR',
                'ESCALA',
                'condicion_laboral',
                'DAREACENSO',
                'NIVEL_NEXUS',
                'SEXO',
                'CAMPUS',
                'CURID',
                'CURSO',
                'USUARIO',
                'act_realizada',
                'Porc_act_realizada',
                'MAX_FECHA',
                'DNI_CARACTERIZADO',
                '%_E1',
                '%_E2',
                '%_E3',
                '%_E4',
                'NOTA_Inducción_CuestionarioEntrada',
                'cursos_matriculados']

In [10]:
dfi_2=dfi_1.loc[:,variables]
dfi_2.head()

,CUMPLIMIENTO,CONDICION,DESCRIPCION_SUBTIPO_TRABAJADOR,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,...,act_realizada,Porc_act_realizada,MAX_FECHA,DNI_CARACTERIZADO,%_E1,%_E2,%_E3,%_E4,NOTA_Inducción_CuestionarioEntrada,cursos_matriculados
0,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Urbana,Inicial - Jardín,FEMENINO,1,298,...,19,39,2022-05-29 14:46:51.000,46722,0.00,0.0,1.0,0.00,14.0,1
2,CULMINARON,APROBADO,NaN,NaN,NaN,NaN,NaN,NaN,1,289,...,32,100,2022-05-29 01:13:57.000,85438,1.00,0.0,0.0,0.00,15.0,1
4,CULMINARON,APROBADO,DOCENTE,1,NOMBRADO,Urbana,Inicial - Jardín,FEMENINO,1,298,...,48,100,2022-05-26 02:23:50.000,52192,1.00,0.0,0.0,0.00,18.0,1
8,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Rural,Primaria,FEMENINO,1,298,...,42,87,2022-06-02 13:14:54.000,240953,0.00,0.0,1.0,0.00,8.0,1
9,CULMINARON,APROBADO,DOCENTE,1,CONTRATADO,Rural,Inicial - Jardín,FEMENINO,1,280,...,11,42,2022-04-27 06:15:29.000,75324,0.67,0.0,0.0,0.33,16.0,3

In [11]:
# Eliminar los valor null en las variables de escala , condución_laboral, dareacenso, nivel_nexus
dfi_2=dfi_2.dropna()
dfi_2.isnull().sum()

CUMPLIMIENTO                          0
CONDICION                             0
DESCRIPCION_SUBTIPO_TRABAJADOR        0
ESCALA                                0
condicion_laboral                     0
DAREACENSO                            0
NIVEL_NEXUS                           0
SEXO                                  0
CAMPUS                                0
CURID                                 0
CURSO                                 0
USUARIO                               0
act_realizada                         0
Porc_act_realizada                    0
MAX_FECHA                             0
DNI_CARACTERIZADO                     0
%_E1                                  0
%_E2                                  0
%_E3                                  0
%_E4                                  0
NOTA_Inducción_CuestionarioEntrada    0
cursos_matriculados                   0
dtype: int64

In [12]:
print(dfi_2["ESCALA"].value_counts())
print(" ")
print(dfi_2["condicion_laboral"].value_counts())
# print(" ")
# print(dfi_2["DAREACENSO"].value_counts())
# print(" ")
print(dfi_2["NIVEL_NEXUS"].value_counts())
# print(" ")
# print(dfi_2["SEXO"].value_counts())

1    1873
2     667
3     574
4     535
5     396
6     202
A     126
C      36
D      35
B      33
7      23
E       2
Name: ESCALA, dtype: int64

NOMBRADO             2315
CONTRATADO           1779
DESIGNADO             399
DESTAQUE PROFESOR       8
ENCARGADO               1
Name: condicion_laboral, dtype: int64
Primaria                          1996
Secundaria                        1259
Inicial - Jardín                  1080
Inicial - Cuna-jardín               60
Básica Especial-Primaria            45
Básica Alternativa-Avanzado         41
Básica Alternativa-Inicial e I      15
Básica Especial                      4
Básica Especial-Inicial              1
Inicial - Cuna                       1
Name: NIVEL_NEXUS, dtype: int64

In [13]:
dfi_2['ESCALA']=pd.to_numeric(dfi_2['ESCALA'], errors='coerce')
dfi_2.condicion_laboral = np.where(dfi_2.condicion_laboral == 'NOMBRADO', "NOMBRADO",np.where(dfi_2.condicion_laboral == 'CONTRATADO',"CONTRATADO",np.where(dfi_2.condicion_laboral == 'DESIGNADO',"DESIGNADO","DESTAQUE_ENCARGADO")))
# dfi_2.DAREACENSO = np.where(dfi_2.DAREACENSO == 'Urbana', 0 ,1 )
# dfi_2.SEXO = np.where(dfi_2.SEXO == "FEMENINO",0,1)
dfi_2.NIVEL_NEXUS = np.where((dfi_2.NIVEL_NEXUS == "Inicial - Jardín") | (dfi_2.NIVEL_NEXUS == "Inicial - Jardín")| (dfi_2.NIVEL_NEXUS == "Inicial - Cuna"),"Inicial",np.where(dfi_2.NIVEL_NEXUS == "Primaria","Primaria",np.where(dfi_2.NIVEL_NEXUS == "Secundaria","Secundaria","BasicaAE")))
dfi_2.ESCALA = np.where(dfi_2.ESCALA == 1,1,np.where(dfi_2.ESCALA == 2,2,np.where(dfi_2.ESCALA == 3,3,np.where(dfi_2.ESCALA == 4,4,np.where(dfi_2.ESCALA == 5,5,np.where(dfi_2.ESCALA == 6,6,np.where(dfi_2.ESCALA == 7,7,8)))))))

In [14]:
print(dfi_2["ESCALA"].value_counts())
print(" ")
print(dfi_2["condicion_laboral"].value_counts())
# print(" ")
# print(dfi_2["DAREACENSO"].value_counts())
print(" ")
print(dfi_2["NIVEL_NEXUS"].value_counts())
# print(" ")
# print(dfi_2["SEXO"].value_counts())

1    1873
2     667
3     574
4     535
5     396
8     232
6     202
7      23
Name: ESCALA, dtype: int64

NOMBRADO              2315
CONTRATADO            1779
DESIGNADO              399
DESTAQUE_ENCARGADO       9
Name: condicion_laboral, dtype: int64

Primaria      1996
Secundaria    1259
Inicial       1081
BasicaAE       166
Name: NIVEL_NEXUS, dtype: int64

In [18]:
dicc_cursos={298:28,289:28,280:41}
dfi_2["DURACION"] = dfi_2["CURID"].map(dicc_cursos)

In [19]:
# Union de DFi con df_act ( dias de actividad del docente)
dfi_3 = pd.merge(dfi_2, df_act, left_on=["CURID","DNI_CARACTERIZADO"],right_on=["CURID","IDNUMBER"], how="left")
dfi_3["PORC_DIAS"] = round(dfi_3["DIAS"] / dfi_3["DURACION"],2)
dfi_3["Porc_act_realizada"] = round(dfi_3["Porc_act_realizada"] / 100, 2)
#dfi_3 = dfi_3[dfi_3["NOTA_Inducción_CuestionarioEntrada"]>=0]
dfi_3.head()

,CUMPLIMIENTO,CONDICION,DESCRIPCION_SUBTIPO_TRABAJADOR,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,...,%_E1,%_E2,%_E3,%_E4,NOTA_Inducción_CuestionarioEntrada,cursos_matriculados,DURACION,IDNUMBER,DIAS,PORC_DIAS
0,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Urbana,Inicial,FEMENINO,1,298,...,0.00,0.0,1.0,0.00,14.00000,1,28,46722,2,0.07
1,CULMINARON,APROBADO,DOCENTE,1,NOMBRADO,Urbana,Inicial,FEMENINO,1,298,...,1.00,0.0,0.0,0.00,18.00000,1,28,52192,4,0.14
2,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Rural,Primaria,FEMENINO,1,298,...,0.00,0.0,1.0,0.00,8.00000,1,28,240953,8,0.29
3,CULMINARON,APROBADO,DOCENTE,1,CONTRATADO,Rural,Inicial,FEMENINO,1,280,...,0.67,0.0,0.0,0.33,16.00000,3,41,75324,1,0.02
4,CULMINARON,APROBADO,DOCENTE,1,CONTRATADO,Rural,Inicial,FEMENINO,1,289,...,0.67,0.0,0.0,0.33,19.33333,3,28,75324,2,0.07

In [20]:
dfi_3.to_csv("D:/datospruebadeser.csv",sep=";")

In [21]:
#Seleccionar los datos
x = dfi_3.loc[:,['ESCALA','condicion_laboral','DAREACENSO','NIVEL_NEXUS','SEXO','Porc_act_realizada','cursos_matriculados','%_E1', '%_E2', '%_E3', '%_E4','PORC_DIAS','NOTA_Inducción_CuestionarioEntrada']]
y = dfi_3['CUMPLIMIENTO']

#Clasificacion de datos 
y = np.where(y == "CULMINARON",0,1)

In [353]:
x.ESCALA=x.ESCALA.astype('object')

In [354]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4035 entries, 0 to 4501
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ESCALA                              4035 non-null   object
 1   condicion_laboral                   4035 non-null   object
 2   DAREACENSO                          4035 non-null   object
 3   NIVEL_NEXUS                         4035 non-null   object
 4   SEXO                                4035 non-null   object
 5   Porc_act_realizada                  4035 non-null   float64
 6   cursos_matriculados                 4035 non-null   int64
 7   %_E1                                4035 non-null   float64
 8   %_E2                                4035 non-null   float64
 9   %_E3                                4035 non-null   float64
 10  %_E4                                4035 non-null   float64
 11  PORC_DIAS                           4035 non-null   float64
 12  NOTA_Inducción_CuestionarioEntrada  4035 non-null   float64
dtypes: float64(7), int64(1), object(5)
memory usage: 441.3+ KB

In [355]:
X =pd.get_dummies(x)
X

,Porc_act_realizada,cursos_matriculados,%_E1,%_E2,%_E3,%_E4,PORC_DIAS,NOTA_Inducción_CuestionarioEntrada,ESCALA_1,ESCALA_2,...,condicion_laboral_DESIGNADO,condicion_laboral_DESTAQUE_ENCARGADO,condicion_laboral_NOMBRADO,DAREACENSO_Rural,DAREACENSO_Urbana,NIVEL_NEXUS_BasicaAE,NIVEL_NEXUS_Primaria,NIVEL_NEXUS_Secundaria,SEXO_FEMENINO,SEXO_MASCULINO
0,0.39,1,0.00,0.0,1.0,0.00,0.07,14.00000,1,0,...,0,0,0,0,1,1,0,0,1,0
1,1.00,1,1.00,0.0,0.0,0.00,0.14,18.00000,1,0,...,0,0,1,0,1,1,0,0,1,0
2,0.87,1,0.00,0.0,1.0,0.00,0.29,8.00000,0,0,...,0,0,1,1,0,0,1,0,1,0
3,0.42,3,0.67,0.0,0.0,0.33,0.02,16.00000,1,0,...,0,0,0,1,0,1,0,0,1,0
4,1.00,3,0.67,0.0,0.0,0.33,0.07,19.33333,1,0,...,0,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4497,0.96,1,1.00,0.0,0.0,0.00,0.05,18.00000,0,0,...,0,0,1,1,0,0,0,1,0,1
4498,1.00,1,1.00,0.0,0.0,0.00,0.25,14.00000,0,1,...,0,0,1,1,0,0,1,0,1,0
4499,1.00,8,1.00,0.0,0.0,0.00,0.11,8.00000,0,1,...,0,0,1,1,0,0,0,1,0,1
4500,1.00,8,1.00,0.0,0.0,0.00,0.04,14.00000,0,1,...,0,0,1,1,0,0,0,1,0,1
4501,0.96,8,1.00,0.0,0.0,0.00,0.10,6.00000,0,1,...,0,0,1,1,0,0,0,1,0,1

In [356]:
# El modelo 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2 , random_state=123)
print(X_train.shape)
print(X_test.shape)

(3228, 27)
(807, 27)

In [357]:
# Configuracion del modelo - Regresion logistica
from sklearn.linear_model import LogisticRegression
regresion_logistica = LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=3151, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

#Entrenar el modelo
regresion_logistica.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=3151)

In [359]:
#Predecior lo valores 
y_pred = regresion_logistica.predict(X_test)

In [360]:
unique, counts = np.unique(y_pred, return_counts=True)
print(unique, counts)

[0 1] [530 277]

In [361]:
#Evaluación de clasificación con el modelo para el curid 24 
from sklearn.metrics import confusion_matrix
matriz_log = confusion_matrix(y_pred, y_test)

# precision_scoreprint modelo anterios
from sklearn.metrics import precision_score
precision = precision_score(y_pred, y_test)

# accuracy_score
from sklearn.metrics import accuracy_score
exactitud = accuracy_score(y_pred, y_test)

# recall_score
from sklearn.metrics import recall_score
sensibilidad = recall_score(y_pred, y_test)
# print('Sensibilidad del modelo:')

# F1 Score
from sklearn.metrics import f1_score
puntajef1 = f1_score(y_pred, y_test)

# ROC - AUC
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_pred, y_test)
gini = roc_auc*2 - 1


print('Matriz Confusion Logistica')
print(matriz_log)
print('Metricas:')
print('')
print('Precisión del modelo:', precision)
print('Exactitud del modelo:', exactitud)
print('Sensibilidad del modelo:', sensibilidad)
print('Puntaje F1 del modelo:', puntajef1)
print('Curva ROC - AUC del modelo:', roc_auc)
print('GINI del modelo:', gini)

Matriz Confusion Logistica
[[524   6]
 [  6 271]]
Metricas:

Precisión del modelo: 0.9783393501805054
Exactitud del modelo: 0.9851301115241635
Sensibilidad del modelo: 0.9783393501805054
Puntaje F1 del modelo: 0.9783393501805054
Curva ROC - AUC del modelo: 0.9835092977317622
GINI del modelo: 0.9670185954635244

## CURID 24

In [314]:
#Cargar datos
dfi24 = pd.read_csv("D:/data/desercion_24.csv",sep=";")
df_act_24= pd.read_csv("D:/data/desercion_act_24.csv",sep=";")
dfi24

,CAMPUS,CURID,CURSO,DNI_CARACTERIZADO,NOMBRES,APELLIDOS,USUARIO,NOTA_Cierre_Cuestionariosalida,FECHA_Cierre_Cuestionariosalida,PORCNOTA_Cierre_CuestionarioSalida,...,DIFF_MAXMIN,act_realizada,Porc_act_realizada,DIAS_ACCESO,DIAS_ACTIVIDAD,%_E1,%_E2,%_E3,%_E4,cursos_matriculados
0,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,1179,IVONNE,MORENO REYNA,179613,-1,NaN,NaN,...,58.0,9,9,23.0,23.0,0.38,0.0,0.0,0.62,8
1,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,1179,IVONNE,MORENO REYNA,179613,-1,NaN,NaN,...,58.0,9,9,23.0,23.0,0.38,0.0,0.0,0.62,8
2,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,35347,DENY,VILCA NAVARRO,119956,-1,NaN,NaN,...,42.0,3,3,339.0,6.0,0.50,0.0,0.0,0.50,6
3,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,12969,ISAAC,FASABI ZAVALETA,139510,-1,NaN,NaN,...,5.0,3,3,405.0,5.0,0.38,0.0,0.0,0.62,8
4,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,12969,ISAAC,FASABI ZAVALETA,139510,-1,NaN,NaN,...,5.0,3,3,405.0,5.0,0.38,0.0,0.0,0.62,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30278,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,80679684,JOSE NICOLAS,BUSTAMANTE OBLITAS,50739,18,02:03.0,90.0,...,36.0,16,53,17.0,17.0,1.00,0.0,0.0,0.00,5
30279,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,80679684,JOSE NICOLAS,BUSTAMANTE OBLITAS,50739,18,02:03.0,90.0,...,36.0,16,53,17.0,17.0,1.00,0.0,0.0,0.00,5
30280,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,8d7ec548-a71d-4e21-8f03-9470528ec34a,RUTH MILAGROS,CORONADO GUEVARA,193813,18,26:55.0,90.0,...,0.0,8,53,3.0,15.0,1.00,0.0,0.0,0.00,3
30281,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,9292da8b-9156-4202-b3c8-75bc9417cc2e,FLOR YANIRA,CHUNGA ROA,194532,-1,NaN,NaN,...,NaN,0,0,19.0,NaN,0.00,0.0,0.0,1.00,3
30282,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,b7fc97bc-07b8-4616-a754-450c34263aa2,SANTOS YACQUELINE,CRUZ RAMIREZ,195030,20,08:41.0,100.0,...,0.0,8,53,1.0,1.0,1.00,0.0,0.0,0.00,3

In [315]:
print('Número de registros: '  + str(dfi24.shape[0]))

Número de registros: 30283

In [316]:
#Existen valores duplicados como: USUARIO =604968
dfi24=dfi24.drop_duplicates() # Eliminar registros duplicados
dfi24=dfi24[dfi24["DNI_CARACTERIZADO"]!=10000000 ] # Eliminar los registros que tienen como DNI_CARACTERIZADO =10000000
print('Número de registros: '  + str(dfi24.shape[0]))

Número de registros: 19372

In [317]:
#Se eliminan los registros que tienen como ninguna actividad en la variable cumplimiento
dfi24_1=dfi24[dfi24['CUMPLIMIENTO']=='AL MENOS UNA ACTIVIDAD']
dfi24_1.CUMPLIMIENTO.value_counts()

AL MENOS UNA ACTIVIDAD    1262
Name: CUMPLIMIENTO, dtype: int64

In [318]:
variables = ['CUMPLIMIENTO',
                'CONDICION',
                'DESCRIPCION_SUBTIPO_TRABAJADOR',
                'ESCALA',
                'condicion_laboral',
                'DAREACENSO',
                'NIVEL_NEXUS',
                'SEXO',
                'CAMPUS',
                'CURID',
                'CURSO',
                'USUARIO',
                'act_realizada',
                'Porc_act_realizada',
                'MAX_FECHA',
                'DNI_CARACTERIZADO',
                '%_E1',
                '%_E2',
                '%_E3',
                '%_E4',
                'NOTA_Inducción_CuestionarioEntrada',
                'cursos_matriculados']
dfi24_2=dfi24_1.loc[:,variables]
dfi24_2

,CUMPLIMIENTO,CONDICION,DESCRIPCION_SUBTIPO_TRABAJADOR,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,...,act_realizada,Porc_act_realizada,MAX_FECHA,DNI_CARACTERIZADO,%_E1,%_E2,%_E3,%_E4,NOTA_Inducción_CuestionarioEntrada,cursos_matriculados
83,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,5,5,26:20.0,82786,0.50,0.0,0.20,0.30,12,10
113,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Secundaria,FEMENINO,7,24,...,4,26,33:48.0,91969,0.83,0.0,0.17,0.00,10,6
184,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,MASCULINO,7,24,...,1,6,40:03.0,186658,0.00,0.0,0.20,0.80,10,5
212,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,FEMENINO,7,24,...,4,4,20:58.0,520984,0.29,0.0,0.43,0.28,0,7
232,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,MASCULINO,7,24,...,2,6,40:00.0,814941,0.00,0.0,0.40,0.60,14,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30175,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,1,6,40:56.0,48145148,0.29,0.0,0.43,0.28,8,7
30185,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,2,6,39:36.0,80175946,0.00,0.0,0.40,0.60,12,5
30186,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,FEMENINO,7,24,...,1,6,46:52.0,70121545,0.50,0.0,0.50,0.00,2,4
30235,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Secundaria,FEMENINO,7,24,...,1,6,40:28.0,75022416,0.80,0.0,0.20,0.00,0,5
30268,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,8,26,42:16.0,80443802,0.00,0.0,0.80,0.20,6,5

In [319]:
# Eliminar los valor null en las variables de escala , condución_laboral, dareacenso, nivel_nexus
dfi24_2=dfi24_2.dropna()
dfi24_2.isnull().sum()

CUMPLIMIENTO                          0
CONDICION                             0
DESCRIPCION_SUBTIPO_TRABAJADOR        0
ESCALA                                0
condicion_laboral                     0
DAREACENSO                            0
NIVEL_NEXUS                           0
SEXO                                  0
CAMPUS                                0
CURID                                 0
CURSO                                 0
USUARIO                               0
act_realizada                         0
Porc_act_realizada                    0
MAX_FECHA                             0
DNI_CARACTERIZADO                     0
%_E1                                  0
%_E2                                  0
%_E3                                  0
%_E4                                  0
NOTA_Inducción_CuestionarioEntrada    0
cursos_matriculados                   0
dtype: int64

In [320]:
dfi24_2['ESCALA']=pd.to_numeric(dfi24_2['ESCALA'], errors='coerce')
dfi24_2.condicion_laboral = np.where(dfi24_2.condicion_laboral == 'NOMBRADO', "NOMBRADO",np.where(dfi24_2.condicion_laboral == 'CONTRATADO',"CONTRATADO",np.where(dfi24_2.condicion_laboral == 'DESIGNADO',"DESIGNADO","DESTAQUE_ENCARGADO")))
# dfi24_2.DAREACENSO = np.where(dfi24_2.DAREACENSO == 'Urbana', 0 ,1 )
# dfi24_2.SEXO = np.where(dfi24_2.SEXO == "FEMENINO",0,1)
dfi24_2.NIVEL_NEXUS = np.where((dfi24_2.NIVEL_NEXUS == "Inicial - Jardín") | (dfi24_2.NIVEL_NEXUS == "Inicial - Jardín")| (dfi24_2.NIVEL_NEXUS == "Inicial - Cuna"),"Inicial",np.where(dfi24_2.NIVEL_NEXUS == "Primaria","Primaria",np.where(dfi24_2.NIVEL_NEXUS == "Secundaria","Secundaria","BasicaAE")))
dfi24_2.ESCALA = np.where(dfi24_2.ESCALA == 1,1,np.where(dfi24_2.ESCALA == 2,2,np.where(dfi24_2.ESCALA == 3,3,np.where(dfi24_2.ESCALA == 4,4,np.where(dfi24_2.ESCALA == 5,5,np.where(dfi24_2.ESCALA == 6,6,np.where(dfi24_2.ESCALA == 7,7,8)))))))

c:\Users\ccuro\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\ccuro\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [321]:
print(dfi24_2["ESCALA"].value_counts())
print(" ")
print(dfi24_2["condicion_laboral"].value_counts())
# print(" ")
# print(dfi24_2["DAREACENSO"].value_counts())
print(" ")
print(dfi24_2["NIVEL_NEXUS"].value_counts())
# print(" ")
# print(dfi24_2["SEXO"].value_counts())

1    582
2    242
3    218
4    101
5     50
8     12
6     10
Name: ESCALA, dtype: int64

NOMBRADO              736
CONTRATADO            408
DESIGNADO              63
DESTAQUE_ENCARGADO      8
Name: condicion_laboral, dtype: int64

Primaria      1191
Secundaria      19
Inicial          4
BasicaAE         1
Name: NIVEL_NEXUS, dtype: int64

In [322]:
# Apartado para la correción de dni

# df_act_24['IDNUMBER']=pd.to_numeric(df_act_24['IDNUMBER'], errors='coerce')
# dfi24_2["DNI_CARACTERIZADO"]=pd.to_numeric(dfi24_2["DNI_CARACTERIZADO"], errors='coerce')
# df_act_24.head()

In [323]:
dicc_cursos={24:263}
dfi24_2["DURACION"] = dfi24_2["CURID"].map(dicc_cursos)

# Union de DFi con df_act ( dias de actividad del docente)
dfi24_3 = pd.merge(dfi24_2, df_act_24, left_on=["CURID","DNI_CARACTERIZADO"],right_on=["CURID","IDNUMBER"], how="left")
dfi24_3["PORC_DIAS"] = round(dfi24_3["DIAS"] / dfi24_3["DURACION"],2)
dfi24_3["Porc_act_realizada"] = round(dfi24_3["Porc_act_realizada"] / 100, 2)
dfi24_3 = dfi24_3[dfi24_3["NOTA_Inducción_CuestionarioEntrada"]>=0]
dfi24_3

c:\Users\ccuro\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,CUMPLIMIENTO,CONDICION,DESCRIPCION_SUBTIPO_TRABAJADOR,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,...,%_E1,%_E2,%_E3,%_E4,NOTA_Inducción_CuestionarioEntrada,cursos_matriculados,DURACION,IDNUMBER,DIAS,PORC_DIAS
0,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,0.50,0.0,0.20,0.30,12,10,263,82786,4,0.02
1,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Secundaria,FEMENINO,7,24,...,0.83,0.0,0.17,0.00,10,6,263,91969,2,0.01
2,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,MASCULINO,7,24,...,0.00,0.0,0.20,0.80,10,5,263,186658,1,0.00
3,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,FEMENINO,7,24,...,0.29,0.0,0.43,0.28,0,7,263,520984,2,0.01
4,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,NOMBRADO,Urbana,Primaria,MASCULINO,7,24,...,0.00,0.0,0.40,0.60,14,5,263,814941,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,0.29,0.0,0.43,0.28,8,7,263,48145148,1,0.00
1211,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,0.00,0.0,0.40,0.60,12,5,263,80175946,1,0.00
1212,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,FEMENINO,7,24,...,0.50,0.0,0.50,0.00,2,4,263,70121545,1,0.00
1213,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Secundaria,FEMENINO,7,24,...,0.80,0.0,0.20,0.00,0,5,263,75022416,1,0.00
1214,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,CONTRATADO,Rural,Primaria,MASCULINO,7,24,...,0.00,0.0,0.80,0.20,6,5,263,80443802,3,0.01

In [324]:
#Seleccionar los datos
x_24 = dfi24_3.loc[:,['ESCALA','condicion_laboral','DAREACENSO','NIVEL_NEXUS','SEXO','Porc_act_realizada','cursos_matriculados','%_E1', '%_E2', '%_E3', '%_E4','PORC_DIAS','NOTA_Inducción_CuestionarioEntrada']]
# y = dfi24_3['CUMPLIMIENTO']

# #Clasificacion de datos 
# y = np.where(y == "CULMINARON",0,1)

In [325]:
x_24.ESCALA=x.ESCALA.astype('object')
x_24.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1208 entries, 0 to 1214
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ESCALA                              1100 non-null   object
 1   condicion_laboral                   1208 non-null   object
 2   DAREACENSO                          1208 non-null   object
 3   NIVEL_NEXUS                         1208 non-null   object
 4   SEXO                                1208 non-null   object
 5   Porc_act_realizada                  1208 non-null   float64
 6   cursos_matriculados                 1208 non-null   int64
 7   %_E1                                1208 non-null   float64
 8   %_E2                                1208 non-null   float64
 9   %_E3                                1208 non-null   float64
 10  %_E4                                1208 non-null   float64
 11  PORC_DIAS                           1208 non-null   float64
 12  NOTA_Inducción_CuestionarioEntrada  1208 non-null   int64
dtypes: float64(6), int64(2), object(5)
memory usage: 132.1+ KB

In [333]:
X_24 =pd.get_dummies(x_24)

X_24

,Porc_act_realizada,cursos_matriculados,%_E1,%_E2,%_E3,%_E4,PORC_DIAS,NOTA_Inducción_CuestionarioEntrada,ESCALA_1,ESCALA_2,...,condicion_laboral_DESTAQUE_ENCARGADO,condicion_laboral_NOMBRADO,DAREACENSO_Rural,DAREACENSO_Urbana,NIVEL_NEXUS_BasicaAE,NIVEL_NEXUS_Inicial,NIVEL_NEXUS_Primaria,NIVEL_NEXUS_Secundaria,SEXO_FEMENINO,SEXO_MASCULINO
0,0.05,10,0.50,0.0,0.20,0.30,0.02,12,1,0,...,0,0,1,0,0,0,1,0,0,1
1,0.26,6,0.83,0.0,0.17,0.00,0.01,10,1,0,...,0,0,1,0,0,0,0,1,1,0
2,0.06,5,0.00,0.0,0.20,0.80,0.00,10,0,0,...,0,1,0,1,0,0,1,0,0,1
3,0.04,7,0.29,0.0,0.43,0.28,0.01,0,1,0,...,0,1,0,1,0,0,1,0,1,0
4,0.06,5,0.00,0.0,0.40,0.60,0.00,14,1,0,...,0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,0.06,7,0.29,0.0,0.43,0.28,0.00,8,0,0,...,0,0,1,0,0,0,1,0,0,1
1211,0.06,5,0.00,0.0,0.40,0.60,0.00,12,0,0,...,0,0,1,0,0,0,1,0,0,1
1212,0.06,4,0.50,0.0,0.50,0.00,0.00,2,0,0,...,0,0,1,0,0,0,1,0,1,0
1213,0.06,5,0.80,0.0,0.20,0.00,0.00,0,1,0,...,0,0,1,0,0,0,0,1,1,0
1214,0.26,5,0.00,0.0,0.80,0.20,0.01,6,0,0,...,0,0,1,0,0,0,1,0,0,1

In [327]:
y_ored_24 = regresion_logistica.predict(X_24)
y_ored_24

array([1, 1, 1, ..., 1, 1, 1])

In [329]:
unique, counts = np.unique(y_ored_24, return_counts=True)
print(unique, counts)

[1] [1208]